<configuration>
  <system.webServer>    
    <webSocket enabled="false" />
    <handlers>
      <!-- Indicates that the server.js file is a node.js site to be handled by the iisnode module -->
      <add name="iisnode" path="public/js/main.js" verb="*" modules="iisnode"/>
    </handlers>    
      <rewrite>  
      <rules>  
          <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^public\/js\/main.js\/debug[\/]?"/>
         </rule>
        <rule name="default">
        <match url="/*" />
         <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="public/js/main.js" />
        </rule>
         
       </rules>  
    </rewrite>  
     
    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />
    <iisnode      
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"     
      logDirectory="iisnode"
      loggingEnabled="true"
      debuggingEnabled="true"
      debugHeaderEnabled="false"
      debuggerPortRange="5058-6058"
      debuggerPathSegment="debug"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      devErrorsEnabled="true"     
     />
  </system.webServer>

  <appSettings>
      <add key="WEBSITE_NODE_DEFAULT_VERSION" value="6.5.0"/>
    </appSettings>
    
</configuration>
